{% extends 'base.html.twig' %}

{% block title %}<h2>Votre rendez-vous a bien été enregistré</h2>{% endblock %}

{% block body %}

<div class="card" style="width: 36rem;">
  <img src="{{ email.image('@images/logo_agendigo.svg') }}" class="card-img-top">
  <div class="card-body">
    <h3 class="card-title">Votre rendez-vous a bien été enregistré !</h3>
    <hr>
    <p class="card-text"><h4>Voici les détails de votre rendez-vous du {{date|date("d/m/Y")}} à {{hour|date("H\\hi")}}</h4> <br>
    {% for key, detail in details %}
    {{ key }}: <strong>{{detail}}</strong><br>
    {% endfor %}
    <br>
    {% if details.Adresse is defined %}
    <img src="{{ email.image('@images/Google_Maps.png') }}"><a href="https://www.google.com/maps/place/{{details.Adresse}}" style="color: #6C63FF; text-decoration: none"><strong>Localiser sur la carte</strong></a>

    {% endif %}
  </div>
</div>

{% endblock %}